@charset "UTF-8";

@font-face {
  font-family: "socicon";
  src:url("/static/fonts/socicon.eot");
  src:url("/static/fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("/static/fonts/socicon.woff") format("woff"),
    url("/static/fonts/socicon.ttf") format("truetype"),
    url("/static/fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-modelmayhem:before {
  content: "\e000";
}
.socicon-mixcloud:before {
  content: "\e001";
}
.socicon-drupal:before {
  content: "\e002";
}
.socicon-swarm:before {
  content: "\e003";
}
.socicon-istock:before {
  content: "\e004";
}
.socicon-yammer:before {
  content: "\e005";
}
.socicon-ello:before {
  content: "\e006";
}
.socicon-stackoverflow:before {
  content: "\e007";
}
.socicon-persona:before {
  content: "\e008";
}
.socicon-triplej:before {
  content: "\e009";
}
.socicon-houzz:before {
  content: "\e00a";
}
.socicon-rss:before {
  content: "\e00b";
}
.socicon-paypal:before {
  content: "\e00c";
}
.socicon-odnoklassniki:before {
  content: "\e00d";
}
.socicon-airbnb:before {
  content: "\e00e";
}
.socicon-periscope:before {
  content: "\e00f";
}
.socicon-outlook:before {
  content: "\e010";
}
.socicon-coderwall:before {
  content: "\e011";
}
.socicon-tripadvisor:before {
  content: "\e012";
}
.socicon-appnet:before {
  content: "\e013";
}
.socicon-goodreads:before {
  content: "\e014";
}
.socicon-tripit:before {
  content: "\e015";
}
.socicon-lanyrd:before {
  content: "\e016";
}
.socicon-slideshare:before {
  content: "\e017";
}
.socicon-buffer:before {
  content: "\e018";
}
.socicon-disqus:before {
  content: "\e019";
}
.socicon-vkontakte:before {
  content: "\e01a";
}
.socicon-whatsapp:before {
  content: "\e01b";
}
.socicon-patreon:before {
  content: "\e01c";
}
.socicon-storehouse:before {
  content: "\e01d";
}
.socicon-pocket:before {
  content: "\e01e";
}
.socicon-mail:before {
  content: "\e01f";
}
.socicon-blogger:before {
  content: "\e020";
}
.socicon-technorati:before {
  content: "\e021";
}
.socicon-reddit:before {
  content: "\e022";
}
.socicon-dribbble:before {
  content: "\e023";
}
.socicon-stumbleupon:before {
  content: "\e024";
}
.socicon-digg:before {
  content: "\e025";
}
.socicon-envato:before {
  content: "\e026";
}
.socicon-behance:before {
  content: "\e027";
}
.socicon-delicious:before {
  content: "\e028";
}
.socicon-deviantart:before {
  content: "\e029";
}
.socicon-forrst:before {
  content: "\e02a";
}
.socicon-play:before {
  content: "\e02b";
}
.socicon-zerply:before {
  content: "\e02c";
}
.socicon-wikipedia:before {
  content: "\e02d";
}
.socicon-apple:before {
  content: "\e02e";
}
.socicon-flattr:before {
  content: "\e02f";
}
.socicon-github:before {
  content: "\e030";
}
.socicon-renren:before {
  content: "\e031";
}
.socicon-friendfeed:before {
  content: "\e032";
}
.socicon-newsvine:before {
  content: "\e033";
}
.socicon-identica:before {
  content: "\e034";
}
.socicon-bebo:before {
  content: "\e035";
}
.socicon-zynga:before {
  content: "\e036";
}
.socicon-steam:before {
  content: "\e037";
}
.socicon-xbox:before {
  content: "\e038";
}
.socicon-windows:before {
  content: "\e039";
}
.socicon-qq:before {
  content: "\e03a";
}
.socicon-douban:before {
  content: "\e03b";
}
.socicon-meetup:before {
  content: "\e03c";
}
.socicon-playstation:before {
  content: "\e03d";
}
.socicon-android:before {
  content: "\e03e";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-googleplus:before {
  content: "\e042";
}
.socicon-pinterest:before {
  content: "\e043";
}
.socicon-foursquare:before {
  content: "\e044";
}
.socicon-yahoo:before {
  content: "\e045";
}
.socicon-skype:before {
  content: "\e046";
}
.socicon-yelp:before {
  content: "\e047";
}
.socicon-feedburner:before {
  content: "\e048";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-viadeo:before {
  content: "\e04a";
}
.socicon-xing:before {
  content: "\e04b";
}
.socicon-myspace:before {
  content: "\e04c";
}
.socicon-soundcloud:before {
  content: "\e04d";
}
.socicon-spotify:before {
  content: "\e04e";
}
.socicon-grooveshark:before {
  content: "\e04f";
}
.socicon-lastfm:before {
  content: "\e050";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-vimeo:before {
  content: "\e052";
}
.socicon-dailymotion:before {
  content: "\e053";
}
.socicon-vine:before {
  content: "\e054";
}
.socicon-flickr:before {
  content: "\e055";
}
.socicon-500px:before {
  content: "\e056";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-tumblr:before {
  content: "\e059";
}
.socicon-twitch:before {
  content: "\e05a";
}
.socicon-8tracks:before {
  content: "\e05b";
}
.socicon-amazon:before {
  content: "\e05c";
}
.socicon-icq:before {
  content: "\e05d";
}
.socicon-smugmug:before {
  content: "\e05e";
}
.socicon-ravelry:before {
  content: "\e05f";
}
.socicon-weibo:before {
  content: "\e060";
}
.socicon-baidu:before {
  content: "\e061";
}
.socicon-angellist:before {
  content: "\e062";
}
.socicon-ebay:before {
  content: "\e063";
}
.socicon-imdb:before {
  content: "\e064";
}
.socicon-stayfriends:before {
  content: "\e065";
}
.socicon-residentadvisor:before {
  content: "\e066";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-yandex:before {
  content: "\e068";
}
.socicon-sharethis:before {
  content: "\e069";
}
.socicon-bandcamp:before {
  content: "\e06a";
}
.socicon-itunes:before {
  content: "\e06b";
}
.socicon-deezer:before {
  content: "\e06c";
}
.socicon-telegram:before {
  content: "\e06e";
}
.socicon-openid:before {
  content: "\e06f";
}
.socicon-amplement:before {
  content: "\e070";
}
.socicon-viber:before {
  content: "\e071";
}
.socicon-zomato:before {
  content: "\e072";
}
.socicon-quora:before {
  content: "\e073";
}
.socicon-draugiem:before {
  content: "\e074";
}
.socicon-endomodo:before {
  content: "\e075";
}
.socicon-filmweb:before {
  content: "\e076";
}
.socicon-stackexchange:before {
  content: "\e077";
}
.socicon-wykop:before {
  content: "\e078";
}
.socicon-teamspeak:before {
  content: "\e079";
}
.socicon-teamviewer:before {
  content: "\e07a";
}
.socicon-ventrilo:before {
  content: "\e07b";
}
.socicon-younow:before {
  content: "\e07c";
}
.socicon-raidcall:before {
  content: "\e07d";
}
.socicon-mumble:before {
  content: "\e07e";
}
.socicon-medium:before {
  content: "\e06d";
}
.socicon-bebee:before {
  content: "\e07f";
}
.socicon-hitbox:before {
  content: "\e080";
}
.socicon-reverbnation:before {
  content: "\e081";
}
.socicon-formulr:before {
  content: "\e082";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-battlenet:before {
  content: "\e083";
}

@font-face {
    font-family: "Ultima Pro";
    src: local("Ultima Pro"),
	url(/static/fonts/UltimaPro.ttf) format("truetype");
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ultima Pro Bold";
    src: local("Ultima Pro Bold"),
	url(/static/fonts/UltimaPro-Bold.ttf) format("truetype");
	font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ultima Pro Light";
    src: local("Ultima Pro Light"),
	url(/static/fonts/UltimaProLt.ttf) format("truetype");
	font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"),
	url(/static/fonts/PT_Sans-Web-Regular.ttf) format("truetype");
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Ultima Pro", Helvetica, sans-serif!important;
	color: #2b2a29!important;
}

footer {
	border-top: 3px solid #727271;
	margin: 40px 0;
	padding-top: 40px;
}

header {
	margin: 30px 0;
}

input, textarea, button, span, a:focus {
	outline: 0 none!important;
}

.fadein {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s linear;
}

.fadeout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.alert {
	width: 400px;
	position: fixed;
	z-index: 1000;
	right: 100px;
	top: 50px;
}

.esc {
	width: 400px;
	position: fixed;
	z-index: 1000;
	left: 100px;
	top: 50px;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.rouble {
	font-family: "PT Sans", sans-serif;
}

.divider-vertical {
	height: 50px;
	margin: 0 8px;
	border-left: 1px solid #2b2a29;
	border-right: 1px solid #2b2a29;
}

.gray {
	color: #2b2a29;
}

.emer_b {
	background: #33a5a1;
}

.swamp_b {
	background: #2d8a96;
}

.swamp_c {
	color: #2d8a96;
}

.light_turq_b {
	background: #a6d7d6;
}

.chicken_b {
	background: #f3cb58;
}

.chicken_c {
	color: #f3cb58;
}

.orange_b {
	background: #f6bc0e;
}

.orange_c {
	color: #f6bc0e;
}

.light_yellow_b {
	background: #ffefbc;
}

.light_pers_b{
	background: #f08365;
}

.h3_padding {
	padding: 10px;
}

.lnk {
	padding: 10px;
	border-radius: 20px;
	background: #d9dada;
}

.btn-search {
	padding: 0;
	position: absolute;
	right: 0;
	margin-top: -2px;
}

.a_gray {
	padding: 0;
	float: right;
	margin-top: 17px;
	margin-right: -30px;
	display: block;
}

.lnk:hover {
	color: #33a5a1;
}

.map_cell {
	line-height: 40px;
	display: block;
}

.contact_mail {
	font-size: 20px;
}

.lbl_header {
	line-height: 34px;
	font-family: "Ultima Pro Light", Helvetica, sans-serif;
}

.navbar-nav {
    text-align: center!important;
}

.logo_wrap {
	height: 120px;
}

.logo_wrap img{
	height: 120px;
	margin: 0 auto;
	display: block;
}

.logo_wrap a {
	display: block;
}

.btm {
	margin-bottom: 30px;
}

.qtip-gray {
	background-color: #eee!important;
	border: #eee!important;
}

.active:not(.btn-danger, .btn-info) {
	color: #33a5a1!important;
}

#logo_footer {
	height: 80px;
	display: block;
	margin: 0 auto 10px;
}

.year {
	margin-left: -4px;
}

.openSearch {
	width: 100%!important;
	padding: 6px 12px;
	transition:width 0.35s;
}

.closeSearch {
	width: 0!important;
	padding: 0;
	transition:width 0.35s;
}

.strip {
	margin-bottom: 30px;
}

#telegram :hover{
	color: #0088cc;
}
#facebook:hover{
	color: #4867aa;
}
#twitter:hover{
	color: #6cadde;
}

.tbl_wrap {
	margin-top: 20px;
}

#tbl tbody {
	cursor: pointer;
}

.clmn {
	background-color: #ADD8E6;
	border: 1px solid white;
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	padding: 5px;
}

.clmn_0 {
	width: 35%;
}

.clmn_1 {
	width: 65%;
}

.clmn_1 > th {
	cursor: move;
}

#upload_wrap {
	margin-bottom: 15px;
}

#heads th {
	cursor: move!important;
}

.rem_evnt {
	-webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
	line-height: 35px;
}

.rem_evnt:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

#auth, #reg {
	padding-right: 15px;
}

#auth_tabs {
	padding-left: 15px;
}

#message {
	margin-top: 7px;
}

#login_mod .modal-body {
	min-height: 150px;
}

#loader {
	word-spacing: -.36em;
	display: table;
}

.stick {
	word-spacing: normal;
	width: 7px;
	height: 25px;
	margin: 0 1px;
	background: #337ab7;
	display: inline-block;
	opacity: .5;
}

#stick1, #s_stick1 {
	animation: small-pulse .5s infinite .6s;
}

#stick2, #s_stick2 {
	animation: big-pulse .5s infinite 0.2s;
}

#stick3, #s_stick3 {
	animation: big-pulse .5s infinite 0s;
}

#stick4, #s_stick4 {
	animation: big-pulse .5s infinite .4s;
}

#stick5, #s_stick5 {
	animation: small-pulse .5s infinite .8s;
}

@keyframes small-pulse {
  0% {
    transform: scaleY(0.3);
	opacity: .2;
  }
  50% {
    transform: scaleY(0.6);
	opacity: .7;
  }
  100% {
    transform: scaleY(0.3);
	opacity: .2;
  }
}

@keyframes big-pulse {
  0% {
    transform: scaleY(0.8);
	opacity: .5;
  }
  50% {
    transform: scaleY(1.2);
	opacity: 1;
  }
  100% {
    transform: scaleY(0.8);
	opacity: .5;
  }
}

.navbar-default {
    background-color: transparent!important;
    border-color: transparent!important;
}

.navbar-default .navbar-nav > li > a {
    color: #2b2a29;
}

a:not(.pill) {
    color: #2b2a29;
}

a:focus:not(.pill), a:hover:not(.pill) {
    text-decoration: none;
}

.emer_c {
	color: #33a5a1!important;
}

.emer_hover:hover {
    color: #33a5a1!important;
}

.emer_hover_cover a:hover {
    color: #33a5a1!important;
}

.btn-default {
    border-color: transparent!important;
}

.btn-default:hover {
    background-color: transparent!important;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: transparent!important;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: transparent!important;
}

.btn-default.focus, .btn-default:focus {
    background-color: transparent!important;
}

.btn.active, .btn:active {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #33a5a1!important;
    background-color: transparent!important;
}

.glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-save,
.glyphicon-remove-circle, .glyphicon-indent-left, .glyphicon-floppy-remove,
.glyphicon-eye-open, .glyphicon-repeat {
	color: white;
	padding: 10px;
	border-radius: 20px;
	margin-right: 15px;
}

.glyphicon-plus-sign, .glyphicon-minus-sign, .admin-save {
	background: #e63542!important;
}

.glyphicon-eye-open, .glyphicon-save, .glyphicon-usd, .glyphicon-shopping-cart, .glyphicon-floppy-remove {
	background: #33a5a1;
}

.glyphicon-remove-circle, .glyphicon-indent-left, .glyphicon-repeat {
	background: #f3cb58;
}

.nav-link {
	width: 100px;
}

#settings_mod .modal-body {
    height: 98px;
}

.turquoise {
    color: #33a5a1;
}

.leading {
    line-height: 1.8em;
}