#legendcontainer table {
	margin: 0 auto;
}

#touchflot {
	height: 500px;
}

#tooltip {
	position: absolute;
	border: 1px solid #fdd;
	background-color: #fee;
	padding: 7px;
}

.fadeinTooltip {
	visibility: visible;
	opacity: .8;
	transition: opacity 0.2s linear;
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff!important;
}

.bootstrap-datetimepicker-widget table td span.active {
    color: #ffffff!important;
}