.panel {
	border: 0 none!important;
}

.panel-body {
	border: 1px solid #337ab7;
	overflow-y: hidden;
}

.pbody-opened {
	max-height: 2000px;
}

.pbody-closed {
	max-height: 152px;
}

.panel-heading span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
	display: inline-block;
	line-height: 35px;
}

.expand {
	height: 35px;
	color: #fff;
    background-color: #337ab7;
    border: 1px solid #337ab7;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
}

.expand span {
	float: right;
	line-height: 30px;
    margin-right: 15px;
	color: #fff;
}

.event-info {
	padding: 10px;
	overflow: hidden;
}

.analogs {
	margin-top: 15px;
}

.rel_events > span, .duplicates > span, .equals > span {
	margin: 4px;
	display: inline-block;
	cursor: pointer;
	padding-right: 10px;
	line-height: 35px;
}

.info {
	padding-left: 10px;
}

.rel_events > span > .small, .duplicates > span > .small, .equals > span > .small {
	cursor: pointer;
}

.rel_events, .duplicates, .equals {
	min-height: 100px;
}

.toggle {
	top: 15px;
}

.heading-text {
	margin-right: 7px;
}

.handle {
	width: 0;
	height: 0;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #fff;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: transparent;
	cursor: move;
	float: left;
	opacity: .6;
	transition: all 0.5s ease;
}

.events {
	padding: 0 15px!important;
	height: 35px;
}